<ng-container *ngIf="!rows && !allColumns; else catalogTemplate">
        <mat-grid-list cols="3">
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile>
                        <mat-spinner></mat-spinner>
                </mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
        </mat-grid-list>
</ng-container>

<ng-template #catalogTemplate>
        <mat-card>
                <ngx-datatable class="material striped" [scrollbarH]="true" [rows]="rows" [loadingIndicator]="loading" [columnMode]="'force'"
                        [rowHeight]="40" [headerHeight]="50" [footerHeight]="50" [count]="page.totalElements" [limit]="50">
                        <div *ngFor="let column of allColumns; let i = index">
                                <ngx-datatable-column [ngSwitch]="column.cellPipe" name="{{ column.name }}" prop="{{ column.prop }}" [width]="column.width ? column.width : 160"
                                        [pipe]="column.pipe">
                                        <ng-template *ngSwitchCase="pageTypeEnums.NullPipe" let-value="value" ngx-datatable-cell-template>
                                                {{ value | null:(column.cellPipeParams) }}
                                        </ng-template>
                                        <ng-template *ngSwitchCase="pageTypeEnums.LookupPipe" let-value="value" let-params="column.cellPipeParams" ngx-datatable-cell-template>
                                                {{ value | lookup:(column.cellPipeParams) }}
                                        </ng-template>
                                        <ng-template *ngSwitchCase="pageTypeEnums.YesNoPipe" let-value="value" let-params="column.cellPipeParams" ngx-datatable-cell-template>
                                                {{ value | yesNo:(column.cellPipeParams) }}
                                        </ng-template>
                                        <ng-template *ngSwitchCase="pageTypeEnums.DatePipe" let-value="value" ngx-datatable-cell-template>
                                                {{ value | klaDate }}
                                        </ng-template>
                                        <ng-template *ngSwitchDefault let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <ng-container *ngIf="column.key">
                                                        <a [routerLink]="['/', entity, value]">{{ value | null }}</a>
                                                </ng-container>
                                                <ng-container *ngIf="!column.key">
                                                        {{ value }}
                                                </ng-container>
                                        </ng-template>
                                </ngx-datatable-column>
                        </div>
                </ngx-datatable>
        </mat-card>
</ng-template>
